# Auto detect text files and perform LF normalization
* text=auto
.ter filter=lfs diff=lfs merge=lfs -text
terrain2.ter filter=lfs diff=lfs merge=lfs -text
theTerrain.ter filter=lfs diff=lfs merge=lfs -text
terrain.ter filter=lfs diff=lfs merge=lfs -text
